<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Balance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1 class="py-4">Balance Management System</h1>
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a th:href="@{/}" class="list-group-item">Home</a>
                    <a th:href="@{/user/incomes}" class="list-group-item">Incomes</a>
                    <a th:href="@{/user/expenses}" class="list-group-item">Expenses</a>
                    <a th:href="@{/admin/users}" class="list-group-item">User Management</a>
                    <a th:href="@{/user/change-password}" class="list-group-item">Change Password</a>
                    <a th:href="@{/logout}" class="list-group-item">Logout</a>
                </div>
            </div>
            <div class="col">
                <div layout:fragment="content"></div>
            </div>
        </div>
    </div>
    <div th:replace="/fragments/modals :: changePassword" id="changePasswordFragment"></div>
</body>
</html>