<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/authenticate.html}">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report</title>
</head>
<body>
<div layout:fragment="content">
    <!--Search box-->
    <div class="card">
        <div class="card-header"><i class="bi-bar-chart me-2"></i>Balance Report</div>
        <div class="card-body">
            <form class="row">
                <div class="col-3">
                    <select name="type" id="type" class="form-select">
                        <option value="" th:selected="${#strings.equals(param.type,'')}">All Types</option>
                        <option
                                th:each="type:${balanceTypes }"
                                th:value="${type}" th:text="${type}"
                                th:selected="${#strings.equals(param.type,type)}"></option>
                    </select>
                </div>
                <div class="col-auto">
                    <input name="dateFrom" type="date" th:value="${param.dateFrom}" id="dateFrom" class="form-control">
                </div>
                <div class="col-auto">
                    <input name="dateTo" type="date" th:value="${param.dateTo}" id="dateTo" class="form-control">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary"><i class="bi-search me-2"></i>Search</button>
                </div>
            </form>
        </div>
    </div>

    <!--Search box-->

    <table class="table table-striped mt-4">

        <thead>

        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Category</th>
            <th class="text-end">Incomes</th>
            <th class="text-end">Expenses</th>
            <th class="text-end">Balance</th>
        </tr>

        </thead>

        <tbody>

        <tr th:each="item : ${list}">
            <td th:text="${#temporals.format(item.date, 'yyyy-MM-dd')}"></td>
            <td th:text="${item.type}">Income</td>
            <td th:text="${item.category}">Java Basic Course Fees</td>
            <td th:text="${#numbers.formatInteger(item.income,1,'COMMA')}" class="text-end">150,000</td>
            <td th:text="${#numbers.formatInteger(item.expense,1,'COMMA')}" class="text-end"></td>
            <td th:text="${#numbers.formatInteger(item.balance,1,'COMMA')}" class="text-end">150,000</td>
        </tr>

        </tbody>

    </table>

    <div th:insert="~{/fragments/component :: pagenation(page=${pagination})}"></div>
</div>
</body>
</html>