<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/authenticate.html}">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
</head>
<body>
<div layout:fragment="content">
   <!--Search box-->
    <div class="card">
        <div class="card-header" th:text="${title}"><i class="bi-bar-chart me-2"></i>Balance Report</div>
        <div class="card-body">
            <form action="#" class="row">
                <div class="col-auto">
                    <input name="dateFrom" th:value="${param.dateFrom}" type="date" id="dateFrom" class="form-control">
                </div>
                <div class="col-auto">
                    <input name="dateTo"  th:value="${param.dateTo}" type="date" id="dateTo" class="form-control">
                </div>
                <div class="col">
                    <input name="keyword" th:value="${param.keyword}" type="text" placeholder="Search Keyword" class="form-control">
                </div>

                <div class="col-auto">
                    <button class="btn btn-primary"><i class="bi-search me-2"></i>Search</button>
                    <a th:href="@{/user/balance-edit(type=${type})}" class="btn btn-danger"><i class="bi-plus me-2"></i>Add New</a>
                </div>
            </form>
        </div>
    </div>

   <!--Result table-->
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Item</th>
            <th class="text-end">Unit Price</th>
            <th class="text-end">Quantity</th>
            <th class="text-end">Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${list}" class="align-middle">
            <td th:text="${#temporals.format(item.balance.date,'yyyy-MM-dd')}">2022/5/10</td>
            <td th:text="${item.balance.category}">Student Fees</td>
            <td th:text="${item.item}">Java Basic Online Course</td>
            <td th:text="${#numbers.formatInteger(item.unitPrice,1,'COMMA')}" class="text-end">150,000</td>
            <td th:text="${item.quantity}" class="text-end">10</td>
            <td th:text="${#numbers.formatInteger(item.unitPrice*item.quantity,1,'COMMA')}" class="text-end"></td>
            <td>
                <a th:href="@{/user/balance/details/}+${item.balance.id}" class="nav-link">
                    <i class="bi-list-check"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:insert="~{/fragments/component::pagenation(page=${pagination})}"></div>
</div>
</body>
</html>