<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/authenticate.html}">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <!--Search box-->
    <div class="card">
        <div class="card-header">Balance Report</div>
        <div class="card-body">
            <form action="#" class="row">
                <div class="col-3">
                    <select name="type" id="type" class="form-select">
                        <option value="">All Type</option>
                        <option value="Incomes">Incomes</option>
                        <option value="Expenses">Expenses</option>
                    </select>
                </div>
                <div class="col-auto">
                    <input type="date" id="dateFrom" class="form-control">
                </div>
                <div class="col-auto">
                    <input type="date" id="dateTo" class="form-control">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>

    <!--Search box-->

    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Category</th>
            <th class="text-end">Incomes</th>
            <th class="text-end">Expenses</th>
            <th class="text-end">Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2022/5/10</td>
            <td>Income</td>
            <td>Java Basic Student Fees</td>
            <td class="text-end">150,000</td>
            <td class="text-end">0</td>
            <td class="text-end">150,000</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>