<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/authenticate.html}">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
<div layout:fragment="content">
    <!--Search box-->
    <div class="card">
        <div class="card-header"><i class="bi-people me-2"></i>User Management</div>
        <div class="card-body">
            <form action="" class="row">
                <div class="col-auto">
                    <select name="status" id="status" class="form-select">
                        <option th:selected="${#strings.equals(param.status,'')}" value="">All Users</option>
                        <option th:selected="${#strings.equals(param.status,'true')}" value="true">Active</option>
                        <option th:selected="${#strings.equals(param.status,'false')}" value="false">Removed</option>
                    </select>
                </div>
               <div class="col-auto">
                   <input name="name" type="text" th:value="${param.name}" class="form-control" placeholder="Name">
               </div>
                <div class="col-auto">
                   <input name="phone" type="tel" th:value="${param.phone}" class="form-control" placeholder="Search phone">
               </div>
                <div class="col">
                    <button class="btn btn-primary"><i class="bi-search me-2"></i>Search</button>
                </div>
            </form>
        </div>
    </div>

    <!--Search box-->

    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user :${userList}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.name}">Aung Aung</td>
            <td th:text="${user.status ? 'Active': 'Suspend'}">Active</td>
            <td th:text="${user.phone ==null?'undefined':user.phone}">0940623524</td>
            <td th:text="${user.email==null?'undefined':user.email}">aung@gmail.com </td>
            <td >
                <a href="#" data-bs-toggle="modal" th:data-bs-target="${'#userStatusChangeModal'+user.id}" class="nav-link">
                    <i th:if="${user.status}" class="bi-trash text-danger"></i>
                    <i th:unless="${user.status}" class="bi-check-circle-fill text-success"></i>
                </a>
            </td>
            <td>
                <div th:replace="~{/fragments/modals :: userStatusChange(user=${user})}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>